//375px
$mobile-min-width: 375px;
$mobile-max-width: 767px;

//768px
$tablet-min-width: 768px;
$tablet-max-width: 1279px;

//1280px
$desktop-min-width: 1280px;
$desktop-max-width: 1920px;

//colors
$primary-CharcoalBlue: #354252;
$primary-Timberwolf: #EAE3DF;
$primary-Peachcrayon: #F9B17A;
$primary-white: #ffffff;

$secondary-slategray: #76838F;
$secondary-alabaster: #F2EFED;
$secondary-deer: #C58C5C;

$background-gunmetal: #232A37;
$background-nobel: #A79E9C;
$background-eerieblack: #161616;

$error: red;